In [7]:
class vehicle:
    def __init__(self,a,b,c,d):
        self.regPlate=a
        self.engine=b
        self.price=c
        self.colour=d
    def show(self):
        print("reg plate num:",self.regPlate,'\n',"engine cc:",self.engine,'\n',"price:",self.price,'\n',"colour:",self.colour)
                  
class car(vehicle):
    def __init__(self,a,b,c,d,e,f,g):
        super().__init__(a,b,c,d)
        self.type=e
        self.passengers=f
        self.speed=g
    def show(self):
        super().show()
        print("type of car:",self.type,'\n',"no of passengers",self.passengers,'\n',"speed of the car:",self.speed)

class truck(vehicle):
    def __init__(self,a,b,c,d,e,f):
        super().__init__(a,b,c,d)
        self.axle=e
        self.loadCapacity=f
    def show(self):
        super().show()
        print("no of axle:",self.axle,'\n',"load capacity",self.loadCapacity,'\n')

ob1=car("7030 1020 4040","520cc",750000,"black","SUV",8,"100km/hr")
ob1.show()

ob2=truck(1020,"1000cc",3000000,"brown",4,"500kg")
ob2.show()

reg plate num: 7030 1020 4040
 engine cc: 520cc
 price: 750000
 colour: black
type of car: SUV
 no of passengers 8
 speed of the car: 100km/hr
reg plate num: 1020
 engine cc: 1000cc
 price: 3000000
 colour: brown
no of axle: 4
 load capacity 500kg

In [14]:
class employee:
    def __init__(self,a,b,c):
        self.eID=a
        self.eName=b
        self.eSalary=c
    def show(self):
        print("employee id:",self.eID,'\n',"employeee name:",self.eName,'\n',"eSalary",self.eSalary,)

class staff(employee):
    def __init__(self,a,b,c,e,f):
        super().__init__(a,b,c)
        self.workType=e
        self.workArea=f
    def show(self):
        super().show()
        print("type of work:",self.workType,'\n',"area of work:",self.workArea,'\n')

class developer(employee):
    def __init__(self,a,b,c,e,f,g):
        super().__init__(a,b,c)
        self.module=e
        self.tech=f
        self.experience=g
    def show(self):
        super().show()
        print("module:",self.module,'\n',"tech:",self.tech,'\n',"experience:",self.experience,'\n')

class manager(employee): 
    def __init__(self,a,b,c,e,f):
        super().__init__(a,b,c)
        self.project=e
        self.clientName=f
    def show(self):
        super().show()
        print("type of project:",self.project,'\n',"client name",self.clientName,'\n')

ob1=staff(104,"sarah",50000,"personel assitant","office")
ob1.show()

ob2=developer(100,"sarah",150000,"frontend","HTML,pyt","10years")
ob2.show()

ob3=manager(100,"sarah",400000,"AI development","reliance ltd")
ob3.show()

employee id: 104
 employeee name: sarah
 eSalary 50000
type of work: personel assitant
 area of work: office

employee id: 100
 employeee name: sarah
 eSalary 150000
module: frontend
 tech: HTML,pyt
 experience: 10years

employee id: 100
 employeee name: sarah
 eSalary 400000
type of project: AI development
 client name reliance ltd

In [44]:
for y in range(0,5):
    for x in range(0,y):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [85]:
i=0
for x in range(0,7):
    for y in range(0,x):
        print(i,end=" ")
        i=2*i
    print()

0
0 0
0 0 0
0 0 0 0
0 0 0 0 0
0 0 0 0 0 0

In [50]:
for i in range(0,7):
    for j in range(0,7-i):
        print("*",end=" ")
    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [61]:
for x in range(0,5):
    for y in range(0,x+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [75]:
for i in range(0,5):
        print("1",end=" ")
        for j in range(x,x+1):
            print("0",end=" ")
        print()

1 0
1 0
1 0
1 0
1 0

In [93]:
for i in range(0,5):
    for j in range(0,5):
        if i==(5-1) or j==(5-1) or i==0 or j==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [87]:
for i in range(0,3):
    for j in range(0,i+1):
        print(i,end=" ")
    print()

0
1 1
2 2 2

In [97]:
for x in range(0,5):
    for y in range(0,5):
        if x==2 or x==3 or x==4 or x===5:
            print(" ",end=" ")
        wa

In [103]:
for i in range(3):
    for j in range(5):
        print("#",end=" ")
    print()

# # # # #
# # # # #
# # # # #

In [109]:
for i in range(4):
    for j in range(1,4):
        print("*",end=" ")
    print()

* * *
* * *
* * *
* * *

In [108]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [113]:
for i in range(4):
    for j in range(0,.
                   075-i+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *